# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.yaml ##}
{% import_yaml 'jira/defaults.yaml' as default_settings %}

{## 
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('jira:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.jira.update(os_family_map) %}

{## Merge in jira:lookup pillar ##}
{% set jira = salt['pillar.get'](
        'jira',
        default=default_settings.jira,
        merge=True
    )
%}
